# Diccionarios

+ Un `dict` (diccionario) es una estructura de datos **mutable** que almacena parejas llave - valor.

+ Se accede a éstos por llave, no por posición

+ No permite llaves duplicadas

+ Mantiene orden de inserción

### ¿Cómo creamos diccionario?

+ Primera opción con {.} y llave:valor

In [ ]:
persona = {
    "nombre": "Ana",
    "edad": 30,
    "ciudad": "CDMX"
}
persona

+ Segunda opción con la función `dict(.)`

In [ ]:
persona = dict(nombre = "Ana", edad = 30, ciudad = "CDMX")
persona

In [ ]:
persona2 = dict(nombre = "Eduardo", edad = 99, ciudad = "GDL")
persona2

In [ ]:
persona.items()

In [ ]:
persona.keys()

In [ ]:
persona.values()

In [ ]:
list(persona.keys())

In [ ]:
list(persona.values())

In [ ]:
list(persona)

In [ ]:
sorted(persona)

In [ ]:
dic_mixto = {
    "numero": 10,
    "lista": [1, 2, 3],
    "diccion": {"a": 1},
    "funcion": lambda x: x**2
}

dic_mixto

In [ ]:
pares = [("a", 1), ("b", 2)]
mi_diccionario = dict(pares)
mi_diccionario

In [ ]:
persona

In [ ]:
persona["nombre"]

In [ ]:
mi_diccionario['b']

In [ ]:
#persona["altura"]

In [ ]:
persona.get("altura")

In [ ]:
persona.get("altura", "no encontrada")

In [ ]:
persona["edad"] = 31
persona["profesion"] = "Actuaria"
persona

In [ ]:
persona.update({"edad": 32, "ciudad": "Guadalajara"})

In [ ]:
persona

In [ ]:
del persona["ciudad"]

In [ ]:
persona

In [ ]:
persona.pop("edad")

In [ ]:
persona

In [ ]:
persona.popitem()

In [ ]:
persona

In [ ]:
estudiante = {
    "nombre": "Luis",
    "calificaciones": {
        "mate": 9,
        "estadistica": 10
    },
    "semestre": 6,
    "aprobado": True
}
estudiante

In [ ]:
estudiante["calificaciones"]

In [ ]:
estudiante["calificaciones"]["mate"]

In [ ]:
"semestre" in estudiante

In [ ]:
len(estudiante)

# Conjuntos

+ Un `set` (conjunto) es la implementación directa del concepto matemático de conjunto.

+ Un `set` (conjunto) es una colección no ordenada de elementos únicos.

+ No mantiene orden

+ No permite duplicados

+ Mutable

+ Operaciones de pertenencia (rápidas)

+ Operaciones algebraicas de conjuntos (eficientes)

### ¿Cómo creamos un conjunto?

+ Primera opción con {.}

In [ ]:
cjto = {1, 2, 3, 4}
cjto

+ Segunda opción con la función `set(.)`

In [ ]:
otro_cjto = set([1, 2, 2, 3])
otro_cjto

In [ ]:
set("hola")

In [ ]:
mi_cjto = {1, True}
mi_cjto

In [ ]:
mi_cjto = {1, "a", (2, 3), True}
mi_cjto

In [ ]:
#mi_cjto = {1, "a", (2, 3), True, [95, 43]}
#mi_cjto

In [ ]:
#mi_cjto = {1, "a", (2, 3), True, {"a": 1}}
#mi_cjto

In [ ]:
#mi_cjto = {1, "a", (2, 3), True, set([1, 2])}
#mi_cjto

In [ ]:
mi_cjto = {1, "a", (2, 3), True, lambda x: x**2}
mi_cjto

In [ ]:
3 in cjto

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}

In [ ]:
A | B

In [ ]:
A.union(B)

In [ ]:
A & B

In [ ]:
A.intersection(B)

In [ ]:
A - B

In [ ]:
B - A

In [ ]:
# Diferencia simétrica
A ^ B

In [ ]:
A.issubset(B)

In [ ]:
A.issuperset(B)

In [ ]:
A.isdisjoint(B)

In [ ]:
cjto = {1, 2, 3, 4}

In [ ]:
len(cjto)

In [ ]:
#cjto[0]

In [ ]:
cjto.add(5)

In [ ]:
cjto

In [ ]:
cjto.update([6, 7])

In [ ]:
cjto

In [ ]:
cjto.remove(3)

In [ ]:
cjto

In [ ]:
#cjto.remove(10)

In [ ]:
cjto.discard(10)

In [ ]:
cjto

In [ ]:
# Elimina un elemento aleatoriamente
cjto.pop()

In [ ]:
cjto

In [ ]:
cjto.clear()

In [ ]:
cjto

# Usos típicos

In [ ]:
# Eliminar duplicados
lista = [1, 2, 2, 3]
set(lista)

In [ ]:
# Comparar colecciones
usuarios_activos = {1, 2, 3}
usuarios_bloqueados = {2, 3, 4}
usuarios_activos - usuarios_bloqueados

# Dataframes (de pandas)

+ Un `DataFrame` (de pandas) es una estructura de datos tabular (filas x columnas)

+ tabla SQL

+ data.frame de R

+ Sheet de Excel/Google Sheets

+ Conceptualmente un diccionario de columnas.

+ Cada columna tiene un nombre y un tipo de datos, y cada fila tiene un índice.

+ Bidimensional (filas y columnas)

+ Columnas etiquetadas

+ Indexación flexible

In [ ]:
import pandas as pd
# Hablar sobre la convención estándar pd

In [ ]:
mi_df = pd.DataFrame({
    "nombre": ["Ana", "Luis", "María"],
    "edad": [30, 25, 40],
    "ciudad": ["CDMX", "MTY", "GDL"]
})
mi_df

In [ ]:
mi_df = pd.DataFrame([
    {"nombre": "Ana", "edad": 30},
    {"nombre": "Luis", "edad": 25}
])
mi_df

In [ ]:
mi_df = pd.DataFrame(
    [[1, 2], [3, 4]],
    columns=["A", "B"]
)
mi_df

In [ ]:
#pd.read_csv("archivo.csv")
#pd.read_excel("archivo.xlsx")
#pd.read_parquet("archivo.parquet")

In [ ]:
mi_df = pd.DataFrame({
    "nombre": [
    "Ana", "Luis", "María", "Carlos", "Sofía",
    "Jorge", "Lucía", "Miguel", "Paula", "Andrés",
    "Elena", "Raúl", "Valeria", "Diego", "Carmen"
],
    "edad": [
    18, 22, 25, 29, 31,
    34, 37, 40, 43, 45,
    48, 50, 53, 56, 60
],
    "ciudad": [
    "CDMX", "NL", "JAL", "QRO", "PUE",
    "JAL", "SON", "CHIH", "YUC", "OAX",
    "GTO", "SLP", "CDMX", "VER", "AGS"
]
})
mi_df

In [ ]:
mi_df.shape
# (filas, columnas)

In [ ]:
# Nombres de columnas
mi_df.columns

**OJO:** `object` no es un tipo real, suele significar "mezcla o string".

In [ ]:
# Índices de las filas
mi_df.index

In [ ]:
# tipo de cada columna
mi_df.dtypes

In [ ]:
mi_df.head()

In [ ]:
mi_df.tail()

In [ ]:
mi_df.info()

In [ ]:
mi_df.describe()

In [ ]:
mi_df.describe(include = "object")

In [ ]:
mi_df.describe(include = "all")

In [ ]:
mi_df["edad"]

In [ ]:
mi_df.edad

In [ ]:
mi_df.loc[0]

In [ ]:
mi_df.loc[0, "edad"]

In [ ]:
mi_df.iloc[0, 1]

In [ ]:
mi_df[["nombre", "edad"]]

In [ ]:
mi_df["edad_doble"] = mi_df["edad"] * 2

In [ ]:
mi_df

In [ ]:
mi_df[mi_df["edad"] > 30]

In [ ]:
mi_df[(mi_df["edad"] > 25) & (mi_df["ciudad"] == "CDMX")]

In [ ]:
mi_df["mayor_edad"] = mi_df["edad"] >= 18

In [ ]:
mi_df

In [ ]:
mi_df.loc[mi_df["nombre"] == "Ana", "edad"] = 31

In [ ]:
mi_df