# Listas en Python

+ Una `list` (lista) de Python es una estructura de datos **mutable** y **ordenada** que permite almacenar una colección de elementos.
+ Es uno de los tipos más usados en Python para manejar datos en memoria.
+ Es **ordenada** pues los elementos tienen una posición, i.e. tiene sentido hablar del índice de una entrada.

+ Es **mutable** pues se puede modificar después de crearse.

+ *IMPORTANTE*: Además, es **heterogénea** puede contener distintos tipos de objetos.

+ **IMPORTANTÍSIMO**: Indexada desde 0. No como en R, que se indexa desde 1.

## Construcción de listas

+ Mediante corchetes [.]

In [1]:
## Construcción de listas

numeros = [1, 2, 3, 4] # Creo una lista con los números 1, 2, 3 y 4
nombres = ["Ana", "Luis", "María"] # Creo una lista con puros strings
mixta = [1, "texto", 3.5, True] # Creo una lista con objetos de diferente naturaleza

In [2]:
numeros

[1, 2, 3, 4]

In [3]:
nombres

['Ana', 'Luis', 'María']

In [4]:
mixta

[1, 'texto', 3.5, True]

+ Usando la función `list()`

In [14]:
lista_vacia = list()
lista_desde_iterable = list("hola")

In [15]:
lista_vacia

[]

In [ ]:
lista_desde_iterable

['h', 'o', 'l', 'a']

In [8]:
# No todos los objetos básicos con iterables. Por ejemplo,
# list(True)
# TypeError: 'bool' object is not iterable

In [12]:
# Otro ejemplo de objeto no iterable
# list(1)
# TypeError: 'int' object is not iterable

¿Qué tipo de objetos le puedo meter a una lista?

In [9]:
lista = [
    42,                    # int
    3.14,                  # float
    "texto",               # str
    True,                  # bool
    [1, 2, 3],             # otra list
    {"a": 1, "b": 2},      # dict ... veremos esta estructura más al ratín
    lambda x: x**2         # función ... más adelante
]

In [10]:
lista

[42,
 3.14,
 'texto',
 True,
 [1, 2, 3],
 {'a': 1, 'b': 2},
 <function __main__.<lambda>(x)>]

## Modificación/acceso a listas existentes

+ Como ya dijimos antes, lo importante es saber interactuar con lo que contiene el objeto que estamos estudiando. En este caso listas

+ Para acceder a las entradas de una lista usamos la sintaxis `mi_lista[numero de la entrada que quiero]`

In [17]:
lista = [10, 20, 30, 40]
lista

[10, 20, 30, 40]

In [18]:
# Si quiero acceder al contenido del índice 0, i.e. la primera entrada
lista[0]

10

In [19]:
# Si quiero acceder al contenido del índice 2, i.e. la tercera entrada
lista[2]

30

In [20]:
# En Python podemos acceder a la ÚLTIMA ENTRADA de una lista con [-1]
lista[-1]

40

+ Podemos acceder a más de una entrada a la vez.
+ También usamos la sintaxis [.]
+ OJO: los números que escribimos no son los índices que veremos

In [21]:
lista

[10, 20, 30, 40]

Intuitivamente, uno pensaría que con la sintaxis [1:3] voy a ver el contenido desde los índices 1 hasta 3... Y eso es falso

In [22]:
lista[1:3]

[20, 30]

Ossshh!! Sólo veo lo que hay en el índice 1 y en el índice 2

+ Conclusión: [i:j] --> me muestra desde 'i' pero hasta ANTES de 'j' como naturales, i.e. me muestra desde 'i' hasta 'j-1'

In [23]:
lista = [2,7,8,6,9,234,765,88,99]
lista

[2, 7, 8, 6, 9, 234, 765, 88, 99]

In [24]:
len(lista) # Me devuelve la cantidad de entradas de la lista

9

In [25]:
lista[2:5] # Me muestra las índices 2, 3 y 4 i.e. las entradas 3, 4 y 5

[8, 6, 9]

In [27]:
#lista[9]
# IndexError: list index out of range

In [28]:
lista[8]

99

+ También podemos acceder desde la primera entrada hasta alguna que queramos:

In [31]:
# Nos muestra desde el inicio de la lista
# HASTA: La entrada 5
# HASTA: El índice 4
lista[:5]

[2, 7, 8, 6, 9]

In [33]:
lista

[2, 7, 8, 6, 9, 234, 765, 88, 99]

In [36]:
# Desde el índice 0 y luego va de 5 en 5
lista[::5]

[2, 234]

In [35]:
# Desde el índice 3 y luego va de 2 en 2 hasta llegar lo más lejos posible la lista
lista[3::2]

[6, 234, 88]

+ Con esa misma lógica puedo modificar las entradas de la lista

In [37]:
lista

[2, 7, 8, 6, 9, 234, 765, 88, 99]

In [38]:
# Modificar la entrada con índice 1, i.e. la entrada 2 y la cambiaré por el valor 99
lista[1] = 99

In [39]:
lista

[2, 99, 8, 6, 9, 234, 765, 88, 99]

Y aquí empezamos con algunos problemillas sintácticos

Hay algunas funciones en Python que se aplican objetos sin necesidad de usar el signo igual

Lógica normal de matemáticas
+ objeto2 = f(objeto1)
+ objeto1 = f(objeto1): Si quiero modificar mi objeto 1

Lo que a veces hace Python es
+ f(objeto1) y ya modificó al objeto1

In [40]:
lista

[2, 99, 8, 6, 9, 234, 765, 88, 99]

In [41]:
# Agrega un valor que le doy al final de la lista
lista.append(4)

# Nos sería más natural
# lista = lista.append(4)
# Y no sólo eso, nos gustaría
# lista = append(lista, 4)

In [43]:
lista

[2, 99, 8, 6, 9, 234, 765, 88, 99, 4]

In [44]:
# inserta en posición específica
# En el índice 4 voy a insertar un nuevo valor y recorrer todos los demás elemntos
lista.insert(4, 88)

In [45]:
lista

[2, 99, 8, 6, 88, 9, 234, 765, 88, 99, 4]

LALO: Una desventaja de Python es que muchas muchas muchas funciones tienen sintaxis posicional y no explítica

Me gustaría
funcion(a = 6, b = 7, c = True)

A Python le gusta mucho

funcion(6,7,True) i.e. los argumentos son posicionales

Esto obliga al programador a saber que input tiene que ir en la entrada 1, qué input en la 2 y que inpunt en la 3.

+ Podemos agregrar varios elementos a la vez con la función `extend`

In [47]:
lista

[2, 99, 8, 6, 88, 9, 234, 765, 88, 99, 4]

In [48]:
# agrega varios elementos a la vez
lista.extend([5, 6])

In [49]:
lista

[2, 99, 8, 6, 88, 9, 234, 765, 88, 99, 4, 5, 6]

OJO: Tenemos `append`, `insert` y `extend`

OBS: Probablemente también les moleste hasta este momento que hay algunas funciones que se aplican

`f(objeto)`

y otras que se aplican de la forma `objeto.f`

Generalmente (pero no siempre) las que se aplican de la forma `objeto.f` aplican la función y modifican el objeto a la vez.

Ya vimos cómo agregar entradas, ahora vamos a ver cómo eliminar entradas

In [50]:
lista

[2, 99, 8, 6, 88, 9, 234, 765, 88, 99, 4, 5, 6]

In [51]:
# Eliminar una entrada con un valor específico
lista.remove(234)

In [52]:
lista

[2, 99, 8, 6, 88, 9, 765, 88, 99, 4, 5, 6]

In [54]:
# ¿Qué pasa si intento eliminar una entrada que no existe en la lista?
# lista.remove(100)
# ValueError: list.remove(x): x not in list

In [55]:
lista

[2, 99, 8, 6, 88, 9, 765, 88, 99, 4, 5, 6]

In [56]:
# ¿Qué sasa su hay más de una entrada con el valor que quiero eliminar?
lista.remove(99)

In [57]:
# Hizo algo, al menos no me marcó error... Veamos qué hizo
lista

[2, 8, 6, 88, 9, 765, 88, 99, 4, 5, 6]

Sólo elimina al primero que encuentra... al resto los deja vivos

In [58]:
lista

[2, 8, 6, 88, 9, 765, 88, 99, 4, 5, 6]

In [59]:
# Eliminar la última entrada
lista.pop()

6

In [60]:
lista

[2, 8, 6, 88, 9, 765, 88, 99, 4, 5]

In [61]:
# Eliminar entrada por índice
lista.pop(6)

88

Eliminé a la entrada con índice 6

In [62]:
lista

[2, 8, 6, 88, 9, 765, 99, 4, 5]

In [63]:
# Otra forma de eliminar
# Elimina entrada por índice
del lista[5]

In [64]:
lista

[2, 8, 6, 88, 9, 99, 4, 5]

In [65]:
len(lista)

8

In [66]:
# Concatenar.. se usa el símbolo `+` (aunque es medio feito que se use)
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [67]:
nueva_lista = [True, 67, "Hola mundo"] + [2, "strign"]
nueva_lista

[True, 67, 'Hola mundo', 2, 'strign']

In [68]:
# Ya que abusó de la notación usando el símbolo + para concatenar
# Vuelve a abusar de la notación y usa el símbolo * para concatenar repetidamente
[0] * 5

[0, 0, 0, 0, 0]

In [69]:
# Concatenar
[0, 8] * 5

[0, 8, 0, 8, 0, 8, 0, 8, 0, 8]

In [70]:
# Concatenar
[True, 67, "Hola mundo"] * 3

[True, 67, 'Hola mundo', True, 67, 'Hola mundo', True, 67, 'Hola mundo']

In [72]:
# Pregunta natural
# [True, 67, "Hola mundo"] * 3.14
# TypeError: can't multiply sequence by non-int of type 'float'

In [73]:
# Verificar si un valor pertenece a una lista existente
3 in [1, 2, 3]

True

In [74]:
True in [1, 2, 3] # 1 in [1, 2, 3]

True

In [75]:
False in [1, 2, 3] # 0 in [1, 2, 3]

False

In [76]:
False in [1, 2, 3, 0] # 0 in [1, 2, 3, 0]

True

Podemos hacer algunas otras operaciones que involucran listas

In [77]:
frutas = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'apple',
          'grape', 'apple', 'apple']
frutas

['orange',
 'apple',
 'pear',
 'banana',
 'kiwi',
 'apple',
 'banana',
 'apple',
 'grape',
 'apple',
 'apple']

In [78]:
len(frutas)

11

In [79]:
# Cuántas veces aparece el la entra 'apple' en la lista
frutas.count('apple')

5

In [80]:
# Cuántas veces aparece el la entra 'berry' en la lista
frutas.count('berry')

0

In [81]:
frutas

['orange',
 'apple',
 'pear',
 'banana',
 'kiwi',
 'apple',
 'banana',
 'apple',
 'grape',
 'apple',
 'apple']

In [82]:
# La primera vez que aparece un elemento
# La primera vez que aparece 'banana'
frutas.index('banana')

3

In [83]:
# La primera vez que aparece un elemento después de una posición dada
# La primera vez que aparace el elemento 'banana' pero después del índice 4
frutas.index('banana', 4)

6

In [86]:
n1 = frutas.index('banana') # La primera vez que aparece 'banana'
n2 = frutas.index('banana', n1 + 1) # La segunda vez que aparece 'banana'
n2

6

In [88]:
frutas

['orange',
 'apple',
 'pear',
 'banana',
 'kiwi',
 'apple',
 'banana',
 'apple',
 'grape',
 'apple',
 'apple']

In [87]:
n1 = frutas.index('apple') # La primera vez que aparece 'apple'
n2 = frutas.index('apple', n1 + 1) # La segunda vez que aparece apple'
n3 = frutas.index('apple', n2 + 1) # La tercera vez que aparece 'apple'
n3

7

In [92]:
# Podemos invertir el orden de la lista
frutas.reverse()

In [93]:
frutas

['apple',
 'apple',
 'grape',
 'apple',
 'banana',
 'apple',
 'kiwi',
 'banana',
 'pear',
 'apple',
 'orange']

In [94]:
# Podemos ordenar de menor a mayor o alfabéticamente
frutas.sort()

In [ ]:
frutas

['apple',
 'apple',
 'apple',
 'apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'kiwi',
 'orange',
 'pear']

In [96]:
# Para saber el tipo de estructura de un objeto usamos la función `type`
type(frutas)

list

# Tuplas

+ Una `tuple` (tupla) es una estructura de datos **ordenada** e **inmutable** que almacena una colección de elementos.
+ Ordenada (tiene índices)
+ Inmutable (no se pueden modificar sus entradas después de creada)
+ Heterogénea. Pueden vivir objetos de distinta naturaleza

¿Cómo creamos una tupla?

+ Primera opción: Con paréntesis (.)

In [97]:
mi_tupla = (1, 2, 3)
mi_tupla

(1, 2, 3)

In [98]:
type(mi_tupla)

tuple

Ohh!! Sí creaste un tuple

In [99]:
# Dijimos que las tuplas pueden ser heterogéneas
tuplilla = (
    42,
    3.14,
    "texto",
    True,
    [1, 2], #lista
    {"a": 1}, # Diccionario
    lambda x: x**2 # funcion
)
tuplilla

(42, 3.14, 'texto', True, [1, 2], {'a': 1}, <function __main__.<lambda>(x)>)

+ Algo que a Python le parece una ventaja pero a mí Lalo no tanto es que te deja crear tuplas SIN usar paréntesis, sólo usando comas

In [100]:
otra_tupla = 1, 2, 3, 7 # No escribí paréntesis
otra_tupla

(1, 2, 3, 7)

In [101]:
type(otra_tupla)

tuple

In [102]:
# Alguien muy naïve que le parece cool la sintaxis anterior
# diria que el siguiente objeto es una tupla
te_prometo_que_es_tupla = 5
type(te_prometo_que_es_tupla)

int

y por supuesto no lo es!!!

In [104]:
# diria que el siguiente objeto es una tupla
te_prometo_que_es_tupla = 5, # le agregré una coma después del 5
type(te_prometo_que_es_tupla)

tuple

In [105]:
te_prometo_que_es_tupla

(5,)

In [106]:
# Otra forma que me parece más "limpia" i.e. más explícita
# Si quisieran crear una tupla de una única entrada sí tendrían que usar los parántesis (.)
tupla_bebe = (5,)
tupla_bebe

(5,)

In [108]:
# MORALEJA: La coma es importante para definir tuplas
no_es_tupla = (5)
type(no_es_tupla)

int

+ Otra forma de crear tuplas es con la función `tuple()`

In [109]:
mi_tupla = tuple([1, 2, 3])
mi_tupla

(1, 2, 3)

In [110]:
mi_tupla = tuple("hola")
mi_tupla

('h', 'o', 'l', 'a')

In [111]:
mi_tupla = 12345, 54321, 'Hola mundo', 20, 30, True
mi_tupla

(12345, 54321, 'Hola mundo', 20, 30, True)

+ ¿Cómo accedo a las entradas de la tupla?

+ Ya se huelen que con la sintaxis [.]

In [112]:
mi_tupla

(12345, 54321, 'Hola mundo', 20, 30, True)

In [114]:
# Accedi a la entrada con índice 2
mi_tupla[2]

'Hola mundo'

In [115]:
# Para acceder al último elemento de la tupla también funciona el truquito del -1
mi_tupla[-1]

True

In [116]:
# Para acceder desde el índice 1 (incluyéndolo) hasta el 3 (pero excluyéndolo)
mi_tupla[1:3]

(54321, 'Hola mundo')

+ A esta operación de obtener "cachos" de una tupla (o de una lista) se conoce como 'slicing'

Notese que el slicing (seleccionar varias entradas a la vez) de tuplas devuelve una tupla

In [117]:
mi_tupla

(12345, 54321, 'Hola mundo', 20, 30, True)

In [118]:
otro_objeto = mi_tupla[1:3]
type(otro_objeto)

tuple

In [119]:
#### PARÉNTESIS por que se me olvidó mencionarlo hace rato
listilla = [3,7,4,"Hola", True, 654, 876]
otro_objetillo = listilla[1:4]
type(otro_objetillo)
# El slicing de una lista es otra lista

list



+ Recuérdese que las tuplas son inmutables.

+ Intentemos mutarlas para ver qué pasa

In [121]:
mi_tupla

(12345, 54321, 'Hola mundo', 20, 30, True)

In [122]:
# Descubro quién es la entrada con índice 2
mi_tupla[2]

'Hola mundo'

In [124]:
# Intentemos cambiar este valor
# mi_tupla[2] = "Adiós mundo"
# Por supuesto que nos manda un error, porque las tuplas son inmutables
# TypeError: 'tuple' object does not support item assignment

In [126]:
# Seguimos siendo necixs e intentado modificar una tupla
# Intentemos agregarle una entrada
# mi_tupla.append(4)
# AttributeError: 'tuple' object has no attribute 'append'

+ Inmutable acá significa que una vez que cree la tupla no puedo cambiar sus entradas.

+ Pero no significa que no puedo cambiar al objeto completo

+ Que sean inmutables no significa que no podamos hacer reasignaciones

In [127]:
mi_tupla

(12345, 54321, 'Hola mundo', 20, 30, True)

In [128]:
# Si puedo sobre-escribir la tupla
# Concateno la "vieja" tupla con (4,5)
# y la guardo con el mismo nombre
mi_tupla = mi_tupla + (4, 5)
mi_tupla

(12345, 54321, 'Hola mundo', 20, 30, True, 4, 5)

+ Que una tupla sea inmutable **NO** significa que los elementos dentro de la tupla sean inmutables

In [129]:
otra_tupla = (1, [2, 3, 75, 83], 4)
otra_tupla

(1, [2, 3, 75, 83], 4)

In [130]:
# Podemos ver que dentro del objeto tupla hay una lista
otra_tupla[1]

[2, 3, 75, 83]

Esta lista, como buena lista **Sí** se puede modificar

In [131]:
# Vamos a agregarle a esta lista el num 99 al final
otra_tupla[1].append(99)

In [132]:
# El objeto otra_tupla sí cambió!!!
otra_tupla
# Me estoy volviendo loco

(1, [2, 3, 75, 83, 99], 4)

In [135]:
# Creando una nueva tupla PERO QUE NO ES UNA CONCATENACIÓN DE DOS TUPLAS
nueva_tupla = (otra_tupla, mi_tupla)
nueva_tupla

((1, [2, 3, 75, 83, 99], 4), (12345, 54321, 'Hola mundo', 20, 30, True, 4, 5))

+ `nueva_tupla` es una nueva tupla que cuyas componentes individuales son tuplas cada una

In [136]:
len(mi_tupla)

8

In [137]:
len(otra_tupla)

3

In [138]:
len(nueva_tupla)

2

+ MORALEJA: En una tupla pueden vivir dentro otras tuplas

+ Pero si lo que queremos es juntar el contenido de dos tuplas

In [139]:
# Concatenar dos tuplas
(1, 2, "programando ando") + (False, 3, [5.6, 9], 4)

(1, 2, 'programando ando', False, 3, [5.6, 9], 4)

In [141]:
# También está este abuso de notación multiplicativo
# Concateno 5 copias de la tupla
(1, 2, "programando ando") * 5

(1,
 2,
 'programando ando',
 1,
 2,
 'programando ando',
 1,
 2,
 'programando ando',
 1,
 2,
 'programando ando',
 1,
 2,
 'programando ando')

In [142]:
# También podemos ver si un objeto está dentro de una tupla
3 in (1, 2, 3)

True

In [143]:
False in (False, 3, [5.6, 9], 4)

True

In [144]:
0 in (False, 3, [5.6, 9], 4)

True

## Unpacking de tuplas

+ Así como creamos tuplas con una instrucción del tipo

`tupla = a,b,c,d`

+ La sintaxis `a,b,c,d = tupla` permite crear los objetos a, b, c y d cada uno con un elemento de la tupla

In [145]:
# Lo que está del lado derecho del signo = es una tupla
a, b, c, d = (1, "Python", False, [7,5,2])

In [146]:
# ¿Quién es a?
a

1

In [147]:
b

'Python'

In [148]:
c

False

In [149]:
d

[7, 5, 2]

### ¿Cuándo usar tuplas?

+ Los datos no deben cambiar

+ Se quiere representar registros fijos (coordenadas, parámetros, IDs)

+ Como claves/llaves de diccionario (lo veremos a continuación)

+ Se quiere expresar intención semántica de inmutabilidad ... En desarrollo de software, `tuple` comunica "esto no se toca".

# Diccionarios

+ Un `dict` (diccionario) es una estructura de datos **mutable** que almacena parejas llave - valor.

+ Se accede a éstos por llave, no por posición

+ No permite llaves duplicadas

+ Mantiene orden de inserción

### ¿Cómo creamos diccionario?

+ Primera opción con {.} y llave:valor

In [150]:
persona = {
    "nombre": "Ana",
    "edad": 30,
    "ciudad": "CDMX"
}
persona

{'nombre': 'Ana', 'edad': 30, 'ciudad': 'CDMX'}

+ Segunda opción con la función `dict(.)`

In [ ]:
persona = dict(nombre = "Ana", edad = 30, ciudad = "CDMX")
persona

{'nombre': 'Ana', 'edad': 30, 'ciudad': 'CDMX'}

In [151]:
persona2 = dict(nombre = "Eduardo", edad = 99, ciudad = "GDL")
persona2

{'nombre': 'Eduardo', 'edad': 99, 'ciudad': 'GDL'}

In [152]:
persona.items()

dict_items([('nombre', 'Ana'), ('edad', 30), ('ciudad', 'CDMX')])

In [153]:
persona.keys()

dict_keys(['nombre', 'edad', 'ciudad'])

In [154]:
persona.values()

dict_values(['Ana', 30, 'CDMX'])

In [ ]:
list(persona.keys())

['nombre', 'edad', 'ciudad', 'profesion']

In [ ]:
list(persona.values())

['Ana', 31, 'CDMX', 'Actuaria']

In [ ]:
list(persona)

['nombre', 'edad', 'ciudad', 'profesion']

In [ ]:
sorted(persona)

['ciudad', 'edad', 'nombre', 'profesion']

In [ ]:
dic_mixto = {
    "numero": 10,
    "lista": [1, 2, 3],
    "diccion": {"a": 1},
    "funcion": lambda x: x**2
}

dic_mixto

{'numero': 10,
 'lista': [1, 2, 3],
 'diccion': {'a': 1},
 'funcion': <function __main__.<lambda>(x)>}

In [ ]:
pares = [("a", 1), ("b", 2)]
mi_diccionario = dict(pares)
mi_diccionario

{'a': 1, 'b': 2}

In [ ]:
persona["nombre"]

'Ana'

In [ ]:
mi_diccionario['b']

2

In [ ]:
#persona["altura"]

KeyError: 'altura'

In [ ]:
persona.get("altura")

In [ ]:
persona.get("altura", "no encontrada")

'no encontrada'

In [ ]:
persona["edad"] = 31
persona["profesion"] = "Actuaria"
persona

{'nombre': 'Ana', 'edad': 31, 'ciudad': 'CDMX', 'profesion': 'Actuaria'}

In [ ]:
persona.update({"edad": 32, "ciudad": "Guadalajara"})

In [ ]:
persona

{'nombre': 'Ana', 'edad': 32, 'ciudad': 'Guadalajara', 'profesion': 'Actuaria'}

In [ ]:
del persona["ciudad"]

In [ ]:
persona

{'nombre': 'Ana', 'edad': 32, 'profesion': 'Actuaria'}

In [ ]:
persona.pop("edad")

32

In [ ]:
persona

{'nombre': 'Ana', 'profesion': 'Actuaria'}

In [ ]:
persona.popitem()

('profesion', 'Actuaria')

In [ ]:
persona

{'nombre': 'Ana'}

In [ ]:
persona

{'nombre': 'Ana', 'edad': 31, 'ciudad': 'CDMX', 'profesion': 'Actuaria'}

In [ ]:
estudiante = {
    "nombre": "Luis",
    "calificaciones": {
        "mate": 9,
        "estadistica": 10
    },
    "semestre": 6,
    "aprobado": True
}
estudiante

{'nombre': 'Luis',
 'calificaciones': {'mate': 9, 'estadistica': 10},
 'semestre': 6,
 'aprobado': True}

In [ ]:
estudiante["calificaciones"]

{'mate': 9, 'estadistica': 10}

In [ ]:
estudiante["calificaciones"]["mate"]

9

In [ ]:
"semestre" in estudiante

True

In [ ]:
len(estudiante)

4

['Ana', 31, 'CDMX', 'Actuaria']

['ciudad', 'edad', 'nombre', 'profesion']

# Conjuntos

+ Un `set` (conjunto) es la implementación directa del concepto matemático de conjunto.

+ Un `set` (conjunto) es una colección no ordenada de elementos únicos.

+ No mantiene orden

+ No permite duplicados

+ Mutable

+ Operaciones de pertenencia (rápidas)

+ Operaciones algebraicas de conjuntos (eficientes)

In [ ]:
cjto = {1, 2, 3, 4}
cjto

{1, 2, 3, 4}

In [ ]:
otro_cjto = set([1, 2, 2, 3])
otro_cjto

{1, 2, 3}

In [ ]:
set("hola")

{'a', 'h', 'l', 'o'}

In [ ]:
mi_cjto = {1, True}
mi_cjto

{1}

In [ ]:
mi_cjto = {1, "a", (2, 3), True}
mi_cjto

{(2, 3), 1, 'a'}

In [ ]:
#mi_cjto = {1, "a", (2, 3), True, [95, 43]}
#mi_cjto

In [ ]:
#mi_cjto = {1, "a", (2, 3), True, {"a": 1}}
#mi_cjto

In [ ]:
#mi_cjto = {1, "a", (2, 3), True, set([1, 2])}
#mi_cjto

In [ ]:
mi_cjto = {1, "a", (2, 3), True, lambda x: x**2}
mi_cjto

{(2, 3), 1, <function __main__.<lambda>(x)>, 'a'}

In [ ]:
3 in cjto

True

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}
A | B

{1, 2, 3, 4, 5}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5}

In [ ]:
A & B

{3}

In [ ]:
A.intersection(B)

{3}

In [ ]:
A - B

{1, 2}

In [ ]:
B - A

{4, 5}

In [ ]:
# Diferencia simétrica
A ^ B

{1, 2, 4, 5}

In [ ]:
A.issubset(B)

False

In [ ]:
A.issuperset(B)

False

In [ ]:
A.isdisjoint(B)

False

In [ ]:
cjto = {1, 2, 3, 4}

In [ ]:
len(cjto)

4

In [ ]:
#cjto[0]

In [ ]:
cjto.add(5)

In [ ]:
cjto

{1, 2, 3, 4, 5}

In [ ]:
cjto.update([6, 7])

In [ ]:
cjto

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
cjto.remove(3)

In [ ]:
cjto

{1, 2, 4, 5, 6, 7}

In [ ]:
#cjto.remove(10)

In [ ]:
cjto.discard(10)

In [ ]:
cjto

{1, 2, 4, 5, 6, 7}

In [ ]:
# Elimina un elemento aleatoriamente
cjto.pop()

1

In [ ]:
cjto

{2, 4, 5, 6, 7}

In [ ]:
cjto.clear()

In [ ]:
cjto

set()

In [ ]:
# Usos típicos

# Eliminar duplicados
lista = [1, 2, 2, 3]
set(lista)

{1, 2, 3}

In [ ]:
# Comparar colecciones
usuarios_activos = {1, 2, 3}
usuarios_bloqueados = {2, 3, 4}
usuarios_activos - usuarios_bloqueados

{1}

# Dataframes (de pandas)

+ Un `DataFrame` (de pandas) es una estructura de datos tabular (filas x columnas)

+ tabla SQL

+ data.frame de R

+ Sheet de Excel/Google Sheets

+ Conceptualmente un diccionario de columnas.

+ Cada columna tiene un nombre y un tipo de datos, y cada fila tiene un índice.

+ Bidimensional (filas y columnas)

+ Columnas etiquetadas

+ Indexación flexible

In [ ]:
import pandas as pd
# Hablar sobre la convención estándar pd

In [ ]:
mi_df = pd.DataFrame({
    "nombre": ["Ana", "Luis", "María"],
    "edad": [30, 25, 40],
    "ciudad": ["CDMX", "MTY", "GDL"]
})
mi_df

  nombre  edad ciudad
0    Ana    30   CDMX
1   Luis    25    MTY
2  María    40    GDL

In [ ]:
mi_df = pd.DataFrame([
    {"nombre": "Ana", "edad": 30},
    {"nombre": "Luis", "edad": 25}
])
mi_df

  nombre  edad
0    Ana    30
1   Luis    25

In [ ]:
mi_df = pd.DataFrame(
    [[1, 2], [3, 4]],
    columns=["A", "B"]
)
mi_df

   A  B
0  1  2
1  3  4

In [ ]:
#pd.read_csv("datos.csv")
#pd.read_excel("archivo.xlsx")
#pd.read_parquet("datos.parquet")

In [ ]:
mi_df = pd.DataFrame({
    "nombre": ["Ana", "Luis", "María"],
    "edad": [30, 25, 40],
    "ciudad": ["CDMX", "MTY", "GDL"]
})

In [ ]:
mi_df.shape      # (filas, columnas)

(3, 3)

In [ ]:
# Nombres de columnas
mi_df.columns

Index(['nombre', 'edad', 'ciudad'], dtype='object')

OJO: `object` no es un tipo real, suele significar "mezcla o string".

In [ ]:
# Índices de las filas
mi_df.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
# tipo de cada columna
mi_df.dtypes

nombre    object
edad       int64
ciudad    object
dtype: object

In [ ]:
mi_df.head()

  nombre  edad ciudad
0    Ana    30   CDMX
1   Luis    25    MTY
2  María    40    GDL

In [ ]:
mi_df.tail()

  nombre  edad ciudad
0    Ana    30   CDMX
1   Luis    25    MTY
2  María    40    GDL

In [ ]:
mi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nombre  3 non-null      object
 1   edad    3 non-null      int64
 2   ciudad  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [ ]:
mi_df.describe()

            edad
count   3.000000
mean   31.666667
std     7.637626
min    25.000000
25%    27.500000
50%    30.000000
75%    35.000000
max    40.000000

In [ ]:
mi_df["edad"]

0    30
1    25
2    40
Name: edad, dtype: int64

In [ ]:
mi_df.edad

0    30
1    25
2    40
Name: edad, dtype: int64

In [ ]:
mi_df.loc[0]

nombre     Ana
edad        30
ciudad    CDMX
Name: 0, dtype: object

In [ ]:
mi_df.loc[0, "edad"]

np.int64(30)

In [ ]:
mi_df.iloc[0]

nombre     Ana
edad        30
ciudad    CDMX
Name: 0, dtype: object

In [ ]:
mi_df.iloc[0, 1]

np.int64(30)

In [ ]:
mi_df[["nombre", "edad"]]

  nombre  edad
0    Ana    30
1   Luis    25
2  María    40

In [ ]:
mi_df["edad_doble"] = mi_df["edad"] * 2

In [ ]:
mi_df

  nombre  edad ciudad  edad_doble
0    Ana    30   CDMX          60
1   Luis    25    MTY          50
2  María    40    GDL          80

In [ ]:
mi_df[mi_df["edad"] > 30]

  nombre  edad ciudad  edad_doble  mayor_edad
0    Ana    31   CDMX          60        True
2  María    40    GDL          80        True

In [ ]:
mi_df[(mi_df["edad"] > 25) & (mi_df["ciudad"] == "CDMX")]

  nombre  edad ciudad  edad_doble  mayor_edad
0    Ana    31   CDMX          60        True

In [ ]:
mi_df["mayor_edad"] = mi_df["edad"] >= 18

In [ ]:
mi_df

  nombre  edad ciudad  edad_doble  mayor_edad
0    Ana    30   CDMX          60        True
1   Luis    25    MTY          50        True
2  María    40    GDL          80        True

In [ ]:
mi_df.loc[mi_df["nombre"] == "Ana", "edad"] = 31

In [ ]:
mi_df

  nombre  edad ciudad  edad_doble  mayor_edad
0    Ana    31   CDMX          60        True
1   Luis    25    MTY          50        True
2  María    40    GDL          80        True